
@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
*{/*reset*/
    padding: 0;
    margin: 0;
}

body{
    /*background-color: #000000;*/
    background-image: url('https://images.pexels.com/photos/3122192/pexels-photo-3122192.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    box-sizing: border-box;
    color: #f6f6f6;
    height: 100vh;

   
}
.Stitulo{
    color: #22D4FD;
    
    
}

.Sparrafo{
    color: #F6FB7A;
}

.presentacion {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10% 15%;
  }
.presentacion_contenido{
    width: 615px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.presentacion_titulo{
    font-family: "Krona One", sans-serif;
    font-size: 36px;
}
.presentacion_parrafo{
    font-family: "Montserrat", sans-serif;
    font-size: 24px;
}
.links{
    display: flex;
    justify-content: space-between;
    
}
.linksC{
    width: 280px;
    background-color: #22D4FD;
    padding: 21.5px 0;
    text-align: center;
    border-radius: 16px;
    font-family: "Montserrat", sans-serif;
    font-size: 24px;
    font-weight: 600;
    text-decoration: none;
    color: #000000;
}