
@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
*{/*reset*/
    padding: 0;
    margin: 0;
}
/*GENERAL*/
:root{
    --color_principal: #FFDA77;
    --color_secundario: #F6FB7A ;
    --color_terceario: #1a0046;
    --color_4: #EF9C66;
    --color_personalizado: #50B498;
    --color_texto1: #000000;
    --color_texto2: #f6f6f6;
    --fuente_montserrat: "Montserrat", sans-serif;
    --funete_Krona: "Krona One", sans-serif;
}
body{
    /*background-color: #000000;*/
    background-image: url('https://images.pexels.com/photos/3122192/pexels-photo-3122192.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    box-sizing: border-box;
    color: var(--color_texto2);
    height: 100vh;   
}
/*NAVEGACION (HEADER)*/
.header{
    padding: 2% 0% 0% 15%;
}
.header_menu{
    display: flex;
    gap: 80px;

}
.header_menu_links{
    font-family: var(--fuente_montserrat);
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--color_principal);
    text-decoration: none;
}
.header_menu_links:hover{
    border: 3px solid var(--color_4);
    padding: 2% 3%;
    border-radius: 50px;
}
/*PRESENTACION (MAIN)*/
.presentacion {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 6% 15%;
    gap: 85px;
}
.Stitulo{
    color: var(--color_personalizado);
}

.Sparrafo{
    color: var(--color_principal);
}

.presentacion_contenido{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.presentacion_titulo{
    font-family: var(--funete_Krona);
    font-size: 2rem;
    text-align: center;
}
.presentacion_parrafo{
    font-family: var(--fuente_montserrat);
    font-size: 1.5rem;
}
.presentacion_parrafo2{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}
.presentacion_parrafo2_titulo{
    font-family: var(--funete_Krona);
    font-size: 1.5rem;
    text-align: center;
}
.presentacion_imagen{
    width: 50%;
}
/*.presentacion_parrafo2_titulo:hover{
    background-color: var(--color_texto2);
    color: var(--color_texto1);
    padding: 5% 10%;
    border-radius: 50px;
}*/
.skills{
    width: 50%;
    padding: 21.5px 0;
    text-align: center;
    border-radius: 50px;
    font-family: var(--fuente_montserrat);
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--color_texto2);
    border: 3px solid var(--color_texto2);
    display: flex;
    justify-content: center;
    gap: 10px;
}
.skills:hover{
    background-color: var(--color_secundario);
    border: 3px solid var(--color_terceario);
    color: var(--color_texto1);
}
.links{
    display: flex;
    flex-direction: column;/*cambios del eje de los item mostrados*/
    justify-content: space-between;
    align-items: center;
    gap: 32px;/*espacio entre item*/
}

.links_subs{
    font-family: var(--funete_Krona);
    font-size: 1.5rem;
    font-weight: 400;
}
.linksC{
    width: 50%;
    /*background-color: #000000;*/
    padding: 21.5px 0;
    text-align: center;
    border-radius: 8px;
    font-family: var(--fuente_montserrat);
    font-size: 1.5rem;
    font-weight: 600;
    text-decoration: none;
    color: var(--color_texto2);
    border: 2px solid var(--color_principal);
    display: flex;
    justify-content: center;
    gap: 10px;
}
.linksC:hover{
    background-color: var(--color_secundario);
    color: var(--color_texto1);
}
/*PIE DE PAGINA (FOOTER)*/
.footer{
    background-color: var(--color_principal);
    padding: 24px 0;
    color: var(--color_terceario);
    text-align: center;
    font-family: var(--fuente_montserrat);
    font-size: 1.5rem;
    font-weight: 600;
}
@media(max-width: 1200px){
    .header{
        padding: 10%;
    }
    .header_menu{
        justify-content: center;
    }
    .presentacion{
        flex-direction: column-reverse;
        padding: 5%;
    }
    .presentacion_contenido{
        width: auto;
    }
    .footer{
        padding: 4%;
        
    }
}
